.nav {
    list-style-type: none;
    background-size: cover;
    position: relative;
    display: inline-block;
    text-align: center;
    background: rgb(53, 53, 53);
    margin: 0px;
    padding: 10px 20px 10px 10px;
    margin-bottom: 30px;
    margin-left: 200px;
}


section img {
    margin-bottom: 30px;
    margin-left: 220px;
}

#banners {
    display: inline-block;
    position: relative;
    margin-left: 220px;
}

.featuredbanner {
    margin-top: 30px;
}

#loremipsum {
    float: right;
}

.footer {
    position: relative;
    background: rgb(53, 53, 53);
    background-size: cover;
    bottom: 0px;
    right: 0;
    height: 100px;
}